<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About GRR - Our Story</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav class="navbar">
        <a href="/quality"><img src="/images/grr logo.png" alt="GRR Logo" class="logo"></a>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/quality">Quality Control</a>
            <a href="/suppliers">Suppliers</a>
            <a href="/certifications">Certifications</a>
            <a href="/gallery">Gallery</a>
            <a href="/activities">Activities</a>
            <a href="/products">Products</a>
            <a href="/customer-corner">Customer Corner</a>
        </div>
    </nav>

    <main class="container">
        <section class="about-section">
            <h1>Quality Policy</h1>
            <div class="about-content">
                <div class="company-history">
                    <p>We, at Groright Rubber LLP as a team are committed to fulfill our Customers Quality Products and
                        Services through Continual Improvement of Quality Management Systems and Training, in all
                        aspects of Manfacturing and Testing to achieve Total Customer Satisfaction. We shall meet all
                        applicable Statutory and Regulatory requirements relating to Safety, Health and Environment.</p>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 GRR. All rights reserved.</p>
    </footer>

    <script src="/js/main.js"></script>
</body>

</html>